.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*.App-header {
  background-color: #282c34;
  min-height:0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 4vmin);
  color: white;
}*/



.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #455168;}

table tr:hover {background-color: rgb(224, 219, 219);}

table th {
  font-size:calc(8px + 1vmin) ;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color:  #282c34;
  color: white;
}